---
layout: default
title: blog.neomail.cz
---

<ul>
{% for post in site.posts %}
<li><a href="{{ post.url }}">{{ post.title }}</a> ({{ post.date | date_to_string}})</li>
{% endfor %}
</ul>

<p>Sledujte nas take na twitteru <a target="_blank" href="http://twitter.com/neomailcz">@neomailcz</a></p>

