---
layout: base
---

<h1><a href="/">Neomail Blog</a></h1>

{{ content }}

<hr>

<p>(c) <a href="http://blog.neomail.cz">blog</a> <a target="_blank" href="http://neomail.cz">neomail.cz</a>. Pise <a target="_blank" href="http://ondrejsika.com">Ondrej Sika</a></p>
